.nome-perfil  
{
    width: 200px;
    height: auto; /* Keeps the aspect ratio proportional */
    margin-bottom: 15px;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;     /* Centers vertically */
}

.foto-perfil 
{
    width: 50px;
    height: auto; 
    margin-bottom: 15px;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;     /* Centers vertically */
}

container-perfil
{
    font-family: 'Arial', sans-serif;
    color: #ffffff;
    background-color: #000000;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;   
    text-align: center;  /* Centers vertically */
    height: 100vh;           /* Make sure the container has a defined heigh */
}
