.foto-perfil 
{
    width: 300px;
    object-fit: cover;
    border-radius: 2%;
    border: 1px solid #ffffff;
    margin-bottom: 15px;
}

body 
{
    font-family: 'Arial', sans-serif;
    color: #ffffff;
    background-color: #000000;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;     /* Centers vertically */
    height: 100vh;           /* Make sure the container has a defined heigh
}
